.box-panel {
    border: 1px solid #ddd;

    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        background: #fff;
        color: $base-font-color;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: bold;
        padding: 24px 24px 8px 24px;

        a {
            color: $base-font-color;
        }
    }

    .box-content {
        background-color: #fff;
        border: none;
        padding: 24px;

    }
    .box-title + .box-content {
        padding-top: 0;
    }

    ul,
    li,
    table,
    thead,
    tfoot,
    tr,
    td {
        border: none !important;
    }

    /*
    li a {
        color: $blue;
        display: inline-block !important;

        &::before {
            color: rgba(0, 0, 0, .3);
        }

        &:hover {
            text-decoration: underline;
        }
    }
    */

    ul li a:hover .title::before {
        color: $green;
    }
}

.box-panel-secondary {
    nav {
        margin-top: 8px;
    }
    .box-title,
    .widgettitle,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    .widget > h1,
    .widget > h2,
    .widget > h3,
    .widget > h4,
    .widget > h5,
    .widget > h6 {
        background-color: $black !important;
        color: #fff;
        border-bottom: 0;
        padding: 8px 16px;
    }

    .box-title + .box-content {
        padding-top: 16px;
    }
}

.box-panel ul:not(.social-feed-gallery) li + li {
    border-top: 0;
}
