.search-top {
    background-color: $black;
    padding: 24px 0;

    form {
        label {
            display: none;
        }
    }
}

#site-header {
    display: table;
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    font-family: $dunkers-font-family;
    background-color: rgba(#fff,.9); 
    box-shadow: 0 0 2px rgba($black, .5);
    text-rendering: auto; 
    backdrop-filter: blur(2px) grayscale(30%);

    nav.navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    nav.navbar svg {
        fill: $black;
    }

    nav.navbar [data-tooltip] {
        &:after {
            border-radius: 2px;
            padding: 10px;
            background-color: rgba($black,.9);
            color: #fff;
            text-transform: uppercase;
            opacity: .9;
            transition: all 100ms;
        }

        &:before {
            border-bottom-color: #fff;
            border-bottom-color: rgba($black,.9);
            opacity: 1;
            bottom: -8px;
        }
    }
}