@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

@import '../../../node_modules/hbg-mix/source/hbg-mix';

@import 'config/colors';
@import 'config/icons';
@import 'config/typography';
@import 'config/grid';

@import 'mixin/positioning';
@import 'mixin/icon';
@import 'mixin/gradient';

@import 'layout/typography';
@import 'layout/404';

@import 'master';

.is-child-theme {
	@import 'layout/base';
	@import 'layout/typography';
	@import 'layout/header';
	@import 'layout/mainmenu';
	@import 'layout/footer';

    @import 'typography/headings';

    @import 'component/box/box';
    @import 'component/box/panel';
    @import 'component/box/news';
    @import 'component/box/event';
    @import 'component/box/index';
    @import 'component/box/grid-post';
    @import 'component/hero/hero';
    @import 'component/table/datatable';
    @import 'component/bubble';
    @import 'component/card';
    @import 'component/form';

    @import 'component/navigation/mega-menu';
    @import 'component/navigation/navbar-event-categories';
    @import 'component/navigation/mobile';
    @import 'component/navigation/pagination';
    @import 'component/navigation/aside';

    @import 'component/share';

    @import 'component/button/button';

    @import 'component/wp-widgets';

    @import 'utility/creamy';
    @import 'utility/link-item';
    @import 'utility/headings';
    @import 'utility/forms';

    h1.archive__title {
        margin-bottom: 24px;
    }
    .slider .text-block.text-block-center span,
    .main-footer {
        font-weight: 300;
    }

    .c-article + * {
        margin-top: $baseline * 4;
    }

    .modularity-mod-iframe .box-title + * {
        margin-top: $baseline * 1.5;
    }

    .nav-aside a, .nav-mobile a {
        padding: 8px 0;
    }
}

.home .sidebar-content-area .box {
    background-color: #fff;
    border: 2px solid $black;
}


*:focus {
    outline: solid 1px black;
} 
